<h1>Hello welcome to my about page</h1>
<p>this is cool</p>
<%= link_to 'article', article_path %>
<%= link_to 'testing', testing_path %>

<form action="/article" method="get">
  <input type="text" name="article_title" placeholder="enter article title">
  <input type="submit" value="let's go!">
</form>
